In [1]:
import warnings
warnings.filterwarnings('ignore')

In [205]:
import pandas as pd
import numpy as np
# train 변수 : 문제 가져오기
data_train = pd.read_csv('data/kaggle/train.csv')
# test 변수 : 정답 가져오기
data_test = pd.read_csv('data/kaggle/test.csv')

In [206]:
# 필요없는 컬럼 drop
data_train = data_train.drop(['no','fnlwgt','native-country'],axis=1)
data_test = data_test.drop(['no','fnlwgt','native-country'],axis=1)

In [207]:
# 테스트 데이터와 트레인 데이터 일단 먼저 붙이기
data_concat = pd.concat([data_train,data_test])

In [208]:
# 트레인 데이터
data_train

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income
0,25,Private,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,0
1,39,Private,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,0
2,35,Private,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,0
3,64,Private,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,0
4,24,Private,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,20,Private,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,0
29301,21,Private,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,0
29302,18,Self-emp-not-inc,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,0
29303,33,Private,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,0
29304,65,?,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,0

In [209]:
data_test

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week
0,18,?,Some-college,10,Never-married,?,Own-child,White,Male,0,0,16
1,29,Private,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40
2,45,Private,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,40
3,42,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40
4,41,Private,Doctorate,16,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1902,40
...,...,...,...,...,...,...,...,...,...,...,...,...
19532,45,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60
19533,48,Private,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50
19534,63,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,4386,0,40
19535,18,Private,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20
19536,31,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,46

In [210]:
 # 트레인 데이터의 정답
data_train['income']

0        0
1        0
2        0
3        0
4        1
        ..
29300    0
29301    0
29302    0
29303    0
29304    0
Name: income, Length: 29305, dtype: int64

In [211]:
data_concat

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income
0,25,Private,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,0.0
1,39,Private,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,0.0
2,35,Private,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,0.0
3,64,Private,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,0.0
4,24,Private,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19532,45,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,NaN
19533,48,Private,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50,NaN
19534,63,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,4386,0,40,NaN
19535,18,Private,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,NaN
19536,31,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,46,NaN

In [212]:
# 정답 데이터
income_raw = data_concat['income']

In [213]:
# 전처리 되기 이전의 feature들 (전처리 되기전 문제들)
features_raw = data_concat.drop('income', axis = 1)

In [214]:
skewed = ['capital-gain', 'capital-loss']
features_log_transformed = pd.DataFrame(data = features_raw)
features_log_transformed[skewed] = features_raw[skewed].apply(lambda x: np.log(x + 1))

예를 들어, 'capital-gain'이라는 변수는 소득에 대한 정보를 나타내는데, 값이 작은 샘플들이 많고, 큰 값들은 소수에 해당하는 경우가 있습니다. 이런 경우에는 데이터의 분포가 왜곡되어 있을 수 있습니다.

로그 변환은 이런 경우에 주로 사용됩니다. 로그 변환은 각 데이터 포인트의 값을 로그 함수를 적용하여 변환합니다. 이는 큰 값들에 대해 작은 값으로 압축하고, 작은 값들에 대해 더 큰 차이를 만들어줍니다. 이로써 분포를 더 넓게 펼치고, 왜곡을 줄이는 효과를 얻을 수 있습니다.

예시를 들어보겠습니다. 원래 'capital-gain' 변수의 값이 [0, 100, 1000, 10000]이라고 가정해봅시다. 이 값들에 로그 변환을 적용하면, [0, 4.61, 6.91, 9.21]으로 변환됩니다. 이렇게 되면, 원래 값이 100과 10000 사이에 큰 차이가 있었지만, 로그 변환 후에는 값들이 더 가까워지고 분포가 더 균일해집니다.

In [215]:
# min max 스케일러를 이용하여 특징 벡터 (문제들) 스케일링 (최소 최대 정규화)
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
numerical = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

features_log_minmax_transform = pd.DataFrame(data = features_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(features_log_transformed[numerical])

In [216]:
features_final = pd.get_dummies(features_log_minmax_transform)

income = np.where(income_raw.values == '>50K', 1, 0)

encoded = list(features_final.columns)
print("{} total features after one-hot encoding.".format(len(encoded)))

print(encoded)

65 total features after one-hot encoding.
['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'marital-status_ Divorced', 'marital-status_ Married-AF-spouse', 'marital-status_ Married-civ-spouse', 'marital-status_ Married-spouse-absent', 'marital-status_ Never-married', 'marital-status_ Separated', 'marital-status_ Widowed', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'relationship_ Husband', 'relationship_ Not-in-family', 'relationship_ Other-relative', 'relationship_ Own-child', 'relationship_ Unmarried', 'relationship_ Wife', 'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'sex_ Female', 'sex_ Male']

C:\Users\smhrd\AppData\Local\Temp\ipykernel_13256\4168584927.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  income = np.where(income_raw.values == '>50K', 1, 0)

In [217]:
print(income)

0

In [218]:
# 훈련 데이터의 피쳐 (train, test를 합친 상태이기 때문에 train 데이터와 test 데이터를 다시 분리함)
X_train = features_final.iloc[:29305,:]
X_train

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,0.109589,0.400000,0.0,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1,0.301370,0.600000,0.0,0.889219,0.551020,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
2,0.246575,0.800000,0.0,0.000000,0.500000,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,0.643836,0.666667,0.0,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
4,0.095890,0.600000,0.0,0.000000,0.704082,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,0.041096,0.533333,0.0,0.000000,0.397959,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,1
29301,0.054795,0.533333,0.0,0.000000,0.397959,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,1
29302,0.013699,0.333333,0.0,0.000000,0.397959,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
29303,0.219178,0.400000,0.0,0.000000,0.653061,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
29304,0.657534,0.533333,0.0,0.000000,0.397959,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [219]:
### 테스트 데이터의 피쳐
X_test = features_final.iloc[29305:,:]
X_test

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,0.013699,0.600000,0.000000,0.000000,0.153061,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
1,0.164384,0.533333,0.000000,0.000000,0.397959,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
2,0.383562,0.800000,0.000000,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
3,0.342466,0.800000,0.000000,0.000000,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,0.328767,1.000000,0.000000,0.901146,0.397959,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19532,0.383562,0.533333,0.000000,0.000000,0.602041,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
19533,0.424658,0.533333,0.000000,0.000000,0.500000,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
19534,0.630137,0.600000,0.728434,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
19535,0.013699,0.400000,0.000000,0.000000,0.193878,0,0,0,0,1,...,1,0,0,0,0,0,0,1,1,0
19536,0.191781,0.733333,0.000000,0.000000,0.459184,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1

In [220]:
# 훈련 데이터 정답
y_train = data_train['income']
y_train

0        0
1        0
2        0
3        0
4        1
        ..
29300    0
29301    0
29302    0
29303    0
29304    0
Name: income, Length: 29305, dtype: int64

In [221]:
# lgb 모델 사용하여 예측
from lightgbm import LGBMClassifier

lgb = LGBMClassifier(random_state=200, n_jobs=-1, reg_alpha=0.9, reg_lambda=0.2, n_estimators=200)

# lgb 모델 훈련
lgb.fit(X_train, y_train)

# 훈련한 lgb 모델로 예측한 결과
y_pred = lgb.predict(X_test)

rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = y_pred
rs.to_csv('50K_01.csv', index=False)

In [222]:
# 방식은 이거임 -> 테스트 데이터도 훈련 데이터로 이용하자 테스트 데이터에 존재 하지 않는 정답 데이터는 처음에 훈련 데이터로 예측한 테스트 데이터 값을 정답 데이터로 사용하자
# 훈련 데이터와, 테스트 데이터 합치기 (테스트 데이터 정답은 훈련된 모델의 예측한 결과를 사용)
X_train_2 = pd.concat([X_train,X_test])
X_train_2

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,0.109589,0.400000,0.000000,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1,0.301370,0.600000,0.000000,0.889219,0.551020,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
2,0.246575,0.800000,0.000000,0.000000,0.500000,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,0.643836,0.666667,0.000000,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
4,0.095890,0.600000,0.000000,0.000000,0.704082,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19532,0.383562,0.533333,0.000000,0.000000,0.602041,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
19533,0.424658,0.533333,0.000000,0.000000,0.500000,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
19534,0.630137,0.600000,0.728434,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
19535,0.013699,0.400000,0.000000,0.000000,0.193878,0,0,0,0,1,...,1,0,0,0,0,0,0,1,1,0
19536,0.191781,0.733333,0.000000,0.000000,0.459184,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1

In [223]:
# 방식은 이거임 -> 테스트 데이터도 훈련 데이터로 이용하자 테스트 데이터에 존재 하지 않는 정답 데이터는 처음에 훈련 데이터로 예측한 테스트 데이터 값을 정답 데이터로 사용하자
# 훈련 데이터와, 테스트 데이터 합치기 (테스트 데이터 정답은 훈련된 모델의 예측한 결과를 사용)
X_train_2 = pd.concat([X_train,X_test])

In [224]:
y_train

0        0
1        0
2        0
3        0
4        1
        ..
29300    0
29301    0
29302    0
29303    0
29304    0
Name: income, Length: 29305, dtype: int64

In [225]:
y_1=y_train.to_numpy()

In [226]:
y_t = np.concatenate([y_1, y_pred])

In [227]:
y_t = list(y_t)

In [228]:
y_train_change=pd.Series(y_t)

In [229]:
### 모델 훈련
lgb.fit(X_train_2,y_train_change)

LGBMClassifier(n_estimators=200, random_state=200, reg_alpha=0.9,
               reg_lambda=0.2)

In [230]:
# lgb 모델로 예측한 결과
pre1 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre1 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Test01.csv', index = False)

In [231]:
# 위 과정 반복 -> 모델 예측한 결과중 더 좋은 결과를 다시 테스트 데이터의 정답으로 활용 + 트레인 데이터와 다시 합치고 다시 모델 학습
y_t = np.concatenate([y_1, pre1])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre2 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre2 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Test02.csv', index = False)

In [233]:
y_t = np.concatenate([y_1, pre2])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre3 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre3 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last01.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87880029 0.8816665  0.87899263 0.9790131  0.99191237]
평균 정확도: 0.9220769765196012

In [179]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87439861 0.87552462 0.8770475  0.97512285 0.99252662]
평균 정확도: 0.9189240392459759

In [234]:
y_t = np.concatenate([y_1, pre3])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre4 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre4 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Test04.csv', index = False)

In [235]:

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87828846 0.88176886 0.87889025 0.9790131  0.99109337]
평균 정확도: 0.9218108096370969

In [236]:
y_t = np.concatenate([y_1, pre4])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre5 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre5 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Test05.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87910738 0.88094994 0.87899263 0.97850123 0.99273137]
평균 정확도: 0.9220565098827972

In [238]:
y_t = np.concatenate([y_1, pre5])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre6 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre6 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last06.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87910738 0.88125704 0.878276   0.9798321  0.99211712]
평균 정확도: 0.9221179286564689

In [239]:
y_t = np.concatenate([y_1, pre6])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre7 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre7 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last07.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.88023339 0.88054049 0.87970925 0.97952498 0.99262899]
평균 정확도: 0.9225274206822984

In [240]:
y_t = np.concatenate([y_1, pre7])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre8 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre8 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last08.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87951684 0.88054049 0.879095   0.97962735 0.99191237]
평균 정확도: 0.9221384099646974

In [241]:
y_t = np.concatenate([y_1, pre8])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre9 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre9 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last09.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.8796192  0.8799263  0.8786855  0.9798321  0.99242424]
평균 정확도: 0.9220974704033358

In [242]:
y_t = np.concatenate([y_1, pre9])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre10 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre10 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last10.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.8796192  0.87931211 0.879095   0.9786036  0.99150287]
평균 정확도: 0.921626557507917

In [243]:
y_t = np.concatenate([y_1, pre10])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre11 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre11 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last11.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87982393 0.87982393 0.87899263 0.97921785 0.99170762]
평균 정확도: 0.9219131931231429

In [244]:
y_t = np.concatenate([y_1, pre11])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre12 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre12 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last12.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.8796192  0.87972157 0.87970925 0.98003686 0.99252662]
평균 정확도: 0.9223226998203966

In [245]:
y_t = np.concatenate([y_1, pre12])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre13 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre13 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last13.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87982393 0.88023339 0.88001638 0.98116298 0.99119574]
평균 정확도: 0.9224864853127727

In [246]:
y_t = np.concatenate([y_1, pre13])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre14 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre14 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last14.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.88002866 0.88125704 0.87960688 0.97952498 0.99221949]
평균 정확도: 0.9225274102027097

In [247]:
y_t = np.concatenate([y_1, pre14])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre15 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre15 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last15.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.88002866 0.87941447 0.87929975 0.98003686 0.99129812]
평균 정확도: 0.9220155724173535

In [248]:
y_t = np.concatenate([y_1, pre15])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre16 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre16 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last16.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.8799263  0.88023339 0.87848075 0.97891073 0.99191237]
평균 정확도: 0.9218927076230793

In [249]:
y_t = np.concatenate([y_1, pre16])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre17 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre17 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last17.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.88023339 0.87982393 0.879095   0.98003686 0.99119574]
평균 정확도: 0.9220769849032722

In [250]:
y_t = np.concatenate([y_1, pre17])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre18 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre18 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last18.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87982393 0.87941447 0.87878788 0.97972973 0.99232187]
평균 정확도: 0.9220155766091891

In [251]:
y_t = np.concatenate([y_1, pre18])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre19 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre19 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last19.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87982393 0.88043812 0.87960688 0.97962735 0.99416462]
평균 정확도: 0.9227321813666371

In [252]:
y_t = np.concatenate([y_1, pre19])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre20 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre20 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last20.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87910738 0.87920975 0.87796888 0.98054873 0.99273137]
평균 정확도: 0.9219132203700738

In [253]:
y_t = np.concatenate([y_1, pre20])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre21 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre21 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last21.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87982393 0.88023339 0.87837838 0.98044636 0.99283374]
평균 정확도: 0.9223431601694475

In [254]:
y_t = np.concatenate([y_1, pre21])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre22 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre22 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last22.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87859556 0.88023339 0.87858313 0.98003686 0.99273137]
평균 정확도: 0.922036060013335

In [255]:
y_t = np.concatenate([y_1, pre22])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre23 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre23 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last23.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87951684 0.87982393 0.87940213 0.9798321  0.99252662]
평균 정확도: 0.9222203247180214

In [256]:
y_t = np.concatenate([y_1, pre23])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre24 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre24 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last24.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87982393 0.88023339 0.87878788 0.98075348 0.99293612]
평균 정확도: 0.9225069603332476

In [257]:
y_t = np.concatenate([y_1, pre24])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre25 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre25 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last25.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87900502 0.8796192  0.8786855  0.98024161 0.99191237]
평균 정확도: 0.9218927390618454

In [258]:
y_t = np.concatenate([y_1, pre25])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre26 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre26 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('Last26.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.87972157 0.87941447 0.87848075 0.97891073 0.99221949]
평균 정확도: 0.9217494034389315