In [2]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import pandas as pd
import numpy as np
# train 변수 : 문제 가져오기
data_train = pd.read_csv('data/kaggle/train.csv')
# test 변수 : 정답 가져오기
data_test = pd.read_csv('data/kaggle/test.csv')

In [6]:
data_train

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
1,2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
2,3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
3,4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
4,5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,29301,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico,0
29301,29302,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States,0
29302,29303,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,0
29303,29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,0
29304,29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,0

In [4]:
# 트레인 데이터
data_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
1,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
2,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
3,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
4,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico,0
29301,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States,0
29302,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,0
29303,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,0
29304,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,0

In [5]:
data_test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,18,?,245274,Some-college,10,Never-married,?,Own-child,White,Male,0,0,16,United-States
1,29,Private,83003,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States
2,45,Private,35136,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,40,United-States
3,42,Self-emp-not-inc,64631,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
4,41,Private,195821,Doctorate,16,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1902,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19532,45,Self-emp-not-inc,116789,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States
19533,48,Private,185079,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States
19534,63,Private,117473,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,4386,0,40,United-States
19535,18,Private,150817,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States
19536,31,Private,341632,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,46,United-States

In [6]:
 # 트레인 데이터의 정답
data_train['income']

0        0
1        0
2        0
3        0
4        1
        ..
29300    0
29301    0
29302    0
29303    0
29304    0
Name: income, Length: 29305, dtype: int64

In [7]:
# 데이터 합치기
data_concat=data_concat.iloc[:,1:]

In [8]:
# 정답 데이터
income_raw = data_concat['income']

In [12]:
# 전처리 되기 이전의 feature들 (전처리 되기전 문제들)
features_raw = data_concat.drop('income', axis = 1)

In [15]:
skewed = ['capital-gain', 'capital-loss']
features_log_transformed = pd.DataFrame(data = features_raw)
features_log_transformed[skewed] = features_raw[skewed].apply(lambda x: np.log(x + 1))

예를 들어, 'capital-gain'이라는 변수는 소득에 대한 정보를 나타내는데, 값이 작은 샘플들이 많고, 큰 값들은 소수에 해당하는 경우가 있습니다. 이런 경우에는 데이터의 분포가 왜곡되어 있을 수 있습니다.

로그 변환은 이런 경우에 주로 사용됩니다. 로그 변환은 각 데이터 포인트의 값을 로그 함수를 적용하여 변환합니다. 이는 큰 값들에 대해 작은 값으로 압축하고, 작은 값들에 대해 더 큰 차이를 만들어줍니다. 이로써 분포를 더 넓게 펼치고, 왜곡을 줄이는 효과를 얻을 수 있습니다.

예시를 들어보겠습니다. 원래 'capital-gain' 변수의 값이 [0, 100, 1000, 10000]이라고 가정해봅시다. 이 값들에 로그 변환을 적용하면, [0, 4.61, 6.91, 9.21]으로 변환됩니다. 이렇게 되면, 원래 값이 100과 10000 사이에 큰 차이가 있었지만, 로그 변환 후에는 값들이 더 가까워지고 분포가 더 균일해집니다.

In [16]:
# min max 스케일러를 이용하여 특징 벡터 (문제들) 스케일링 (최소 최대 정규화)
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
numerical = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

features_log_minmax_transform = pd.DataFrame(data = features_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(features_log_transformed[numerical])

In [17]:
features_final = pd.get_dummies(features_log_minmax_transform)

income = np.where(income_raw.values == '>50K', 1, 0)

encoded = list(features_final.columns)
print("{} total features after one-hot encoding.".format(len(encoded)))

print(encoded)

108 total features after one-hot encoding.
['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'marital-status_ Divorced', 'marital-status_ Married-AF-spouse', 'marital-status_ Married-civ-spouse', 'marital-status_ Married-spouse-absent', 'marital-status_ Never-married', 'marital-status_ Separated', 'marital-status_ Widowed', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'relationship_ Husband', 'relationship_ Not-in-family', 'relationship_ Other-relative', 'relationship_ Own-child', 'relationship_ Unmarried', 'relationship_ Wife', 'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'sex_ Female', 'sex_ Male', 'native-country_ ?', 'native-country_ Cambodia', 'native-country_ Canada', 'native-country_ China', 'native-country_ Columbia', 'native-country_ Cuba', 'native-country_ Dominican-Republic', 'native-country_ Ecuador', 'native-country_ El-Salvador', 'native-country_ England', 'native-country_ France', 'native-country_ Germany', 'native-country_ Greece', 'native-country_ Guatemala', 'native-country_ Haiti', 'native-country_ Holand-Netherlands', 'native-country_ Honduras', 'native-country_ Hong', 'native-country_ Hungary', 'native-country_ India', 'native-country_ Iran', 'native-country_ Ireland', 'native-country_ Italy', 'native-country_ Jamaica', 'native-country_ Japan', 'native-country_ Laos', 'native-country_ Mexico', 'native-country_ Nicaragua', 'native-country_ Outlying-US(Guam-USVI-etc)', 'native-country_ Peru', 'native-country_ Philippines', 'native-country_ Poland', 'native-country_ Portugal', 'native-country_ Puerto-Rico', 'native-country_ Scotland', 'native-country_ South', 'native-country_ Taiwan', 'native-country_ Thailand', 'native-country_ Trinadad&Tobago', 'native-country_ United-States', 'native-country_ Vietnam', 'native-country_ Yugoslavia']

In [18]:
print(income)

0

In [19]:
# 훈련 데이터의 피쳐 (train, test를 합친 상태이기 때문에 train 데이터와 test 데이터를 다시 분리함)
X_train = features_final.iloc[:29305,:]
X_train

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.109589,219199,0.400000,0.0,0.000000,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.301370,52978,0.600000,0.0,0.889219,0.551020,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.246575,196899,0.800000,0.0,0.000000,0.500000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.643836,135527,0.666667,0.0,0.000000,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.095890,60783,0.600000,0.0,0.000000,0.704082,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,0.041096,100605,0.533333,0.0,0.000000,0.397959,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
29301,0.054795,372636,0.533333,0.0,0.000000,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29302,0.013699,258474,0.333333,0.0,0.000000,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29303,0.219178,157446,0.400000,0.0,0.000000,0.653061,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29304,0.657534,94809,0.533333,0.0,0.000000,0.397959,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [20]:
### 테스트 데이터의 피쳐
X_test = features_final.iloc[29305:,:]
X_test

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.013699,245274,0.600000,0.000000,0.000000,0.153061,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.164384,83003,0.533333,0.000000,0.000000,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.383562,35136,0.800000,0.000000,0.000000,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.342466,64631,0.800000,0.000000,0.000000,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.328767,195821,1.000000,0.000000,0.901146,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19532,0.383562,116789,0.533333,0.000000,0.000000,0.602041,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19533,0.424658,185079,0.533333,0.000000,0.000000,0.500000,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19534,0.630137,117473,0.600000,0.728434,0.000000,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19535,0.013699,150817,0.400000,0.000000,0.000000,0.193878,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19536,0.191781,341632,0.733333,0.000000,0.000000,0.459184,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [21]:
# 훈련 데이터 정답
y_train = data_train['income']

In [22]:
# 랜덤 포레스트를 사용
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [23]:
# 심플한 랜덤 포레스트를 사용하여 예측한 결과
pre = model.predict(X_test)

In [24]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(model, X_train, y_train, cv = 5)
print(score)
print(score.mean())

[0.85173179 0.85787408 0.84797816 0.85702099 0.85377922]
0.8536768469544447

In [25]:
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
pre = model.predict(X_test)
rs['income'] = pre
rs.to_csv('kaggle1.csv', index=False)